<h2><%= @entry.title %></h2>
<p><strong>Previous Night's Sleep: </strong><%= @entry.prev_night_sleep %><% if @entry.prev_night_sleep > 1 %> Hours <% else %> Hour <% end %></p>
<p><strong>Breakfast: </strong><%= @entry.breakfast %></p>
<p><strong>Lunch: </strong><%= @entry.lunch %></p>
<p><strong>Dinner: </strong><%= @entry.dinner %></p>
<p><strong>Snacks: </strong><%= @entry.snacks %></p>
<p><strong>Exercise: </strong><%= @entry.exercise %></p>
<p><strong>Energy Rating: </strong><%= @entry.rating %><% @rating = @entry.rating %><% if @rating < 4 %> - Poor<% elsif @rating >= 4 && @rating < 7 %> - Average<% elsif @rating >= 7 && @rating < 9 %> - Good <% else %> - Awesome <% end %></p>
<p><%= link_to 'Edit', edit_entry_path(@entry) %> | 
	<%= link_to 'Delete', entry_path(@entry), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<hr />
<p><%= link_to 'Back', entries_path %></p>
