<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Health Journal', home_index_path, :class => "navbar-brand custom" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(home_index_path) || current_page?(root_path) %>"><%= link_to 'Home', home_index_path %></li>
				<li class="<%= 'active' if current_page?(entries_path) %>"><%= link_to 'Calendar', entries_path %></li>
      </ul>
      <% if user_signed_in? %>
      <%= render 'layouts/signed_in' %>
      <% else %>
      <%= render 'layouts/signed_out' %>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>