<!DOCTYPE html>
<html>
<head>
  <title>Journal App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
	
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header_nav' %>
	<%= render 'layouts/devise_notice' %>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8 well">
				<%= yield %>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	<div class="push"></div>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
